@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
body {
  padding-top: 80px;
}
#navbar{
  background: #E44424;
}
.navbar-brand{
    color: #91C3DC;
}
#navbar-title{
    color: #FFF;
}
#trailer .modal-dialog {
    margin-top: 100px;
    width: 70%;
}
.hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}
#trailer-video {
    width: 100%;
    height: 100%;
}
.media-tile {
}
.media-wrapper{
    background: #C1E1A6;
    margin: 15px 0;
    overflow: hidden;
    position: relative;
}
.media-info-extended{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #77CCEB;
    opacity: 0;
    padding: 0 15px;
    height:100%;
    transition: ease-in-out 150ms opacity;
    width: 100%;
}
.media-info-extended:hover{
    opacity: 1;
    transition-duration: 250ms;
}
.media-image{
    float:left;
    width:50%;
    height:100%;
}
.media-info{
    float:right;
    width:50%;
    height:100%;
    text-align: left;
    padding: 10px;
    color: #000;
    transition: ease-in-out 150ms opacity;
}
.media-info>h2{
    margin-top: 0;
}
/* triangle base code gotten from http://jsfiddle.net/josedvq/3HG6d/ and adapted from there */
.media-rating{
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    width: 70px;
}
.media-rating-background {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90px;
    padding-top: 26px;
    overflow: hidden;
    z-index: 1;
    opacity: 1;
}
.media-rating-background:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-90px;
    border-top: 90px solid transparent;
    border-right: 90px solid #FF9009;
    transition: ease-in-out 250ms opacity;
}
.media-wrapper:hover .media-rating-background{
    opacity: 0;
    transition-duration: 150ms;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}
